<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>001.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,132},{96,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,47}}</string>
			<key>sourceSize</key>
			<string>{96,47}</string>
		</dict>
		<key>038.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,163},{96,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,47}}</string>
			<key>sourceSize</key>
			<string>{96,47}</string>
		</dict>
		<key>039.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,163},{96,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,47}}</string>
			<key>sourceSize</key>
			<string>{96,47}</string>
		</dict>
		<key>1001.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,424},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>1101.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,2},{128,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,112}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>14.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,294},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>2.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,164},{128,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,98}}</string>
			<key>sourceSize</key>
			<string>{128,98}</string>
		</dict>
		<key>3.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,294},{128,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{128,62}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>4.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,2},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,424},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,294},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>8.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,2},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>flower101.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,132},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>flower2.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,132},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>flower3.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,490},{24,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,19}}</string>
			<key>sourceSize</key>
			<string>{24,19}</string>
		</dict>
		<key>grass1.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,132},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{30,28}</string>
		</dict>
		<key>grass2.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,132},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>grass3.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,132},{29,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,26}}</string>
			<key>sourceSize</key>
			<string>{29,26}</string>
		</dict>
		<key>grass4.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,132},{32,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,27}}</string>
			<key>sourceSize</key>
			<string>{32,27}</string>
		</dict>
		<key>roleshadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,160},{54,32}}</string>
			<key>offset</key>
			<string>{1,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,32},{54,32}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>stone1.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,261},{31,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,21}}</string>
			<key>sourceSize</key>
			<string>{31,21}</string>
		</dict>
		<key>stone2.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,132},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>tree101.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{126,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,160}}</string>
			<key>sourceSize</key>
			<string>{126,160}</string>
		</dict>
		<key>tree2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,490},{19,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,48}}</string>
			<key>sourceSize</key>
			<string>{19,48}</string>
		</dict>
		<key>tree3.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,181},{45,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,37}}</string>
			<key>sourceSize</key>
			<string>{45,37}</string>
		</dict>
		<key>zhu01.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,132},{26,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,58}}</string>
			<key>sourceSize</key>
			<string>{26,58}</string>
		</dict>
		<key>zhu02.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,261},{28,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,58}}</string>
			<key>sourceSize</key>
			<string>{28,58}</string>
		</dict>
		<key>zhu03.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,181},{26,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,53}}</string>
			<key>sourceSize</key>
			<string>{26,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhu.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3c835b1dba13718f8fd86f9c76cc9328:1/1$</string>
		<key>textureFileName</key>
		<string>zhu.png</string>
	</dict>
</dict>
</plist>
